<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="./styles.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>G1 Noticias</title>
</head>

<body>
  <main class="container">
    <div class="card">
      <div class="img-news">
        <img src="https://s2.glbimg.com/e7Q7OnotNJ_jtCXHry1PH9pz4JY=/0x0:1920x1080/810x456/smart/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2022/5/5/QdrGU7SmK9d7BAfEnBMg/pgm-globonews-limpo-ao-vivo-20220224-1559-frame-274032.jpeg" alt="img news " width="350px" height="200px"/>
      </div>
      <div class="news">
        <div>
          <h2 class="title">MAPAS: invasão russa ocorre em 3 frentes simultâneas</h2>
        </div>
        <ul>
          <li class="link"> <a href="#">Ucrânia tem engarrafamentos e corrida ao mercado; armas são distribuídas</a></li>
          <li class="link" ><a href="#">Entenda o que é a lei Marcial e por que foi decretada</a></li>
        </ul>
        <div>
          <p class="sub-title">Americano descartou entrar na Ucrânia, mas advertiu Rússia para não atacar aliados da Otan.</p>
        </div>
      </div>
    </div>
  </main> 
</body>
</html>